Packages/RealityKitContent/.swiftpm/xcode/xcuserdata
project1.xcodeproj/xcuserdata/

project1.xcodeproj/project.xcworkspace/xcuserdata
Packages/RealityKitContent/Package.realitycomposerpro/WorkspaceData
